version: "3.8"

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "10000:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  static-api:
    build: .
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: ecostars
      KEYCLOAK_CLIENT_ID: ecostars-client
    command: "serve"
    depends_on:
      - postgres
      - static-api-setup
      - keycloak

  static-api-setup:
    build: .
    env_file:
      - .env
    command: "fake"
    depends_on:
      - postgres

  dynamic-api:
    build: .
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: ecostars
      KEYCLOAK_CLIENT_ID: ecostars-client
    command: ["metrics"]
    depends_on:
      - postgres
      - keycloak

  keycloak-db:
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - keycloak_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KC_HOSTNAME: localhost
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./config/keycloak/fast-setup-realm.json:/opt/keycloak/data/import/realm.json
    depends_on:
      - keycloak-db

volumes:
  pgdata:
  keycloak_data:
